<div class="swiper mySwiper ">
    <div class="swiper-wrapper">
        <div class="swiper-slide container_1">
            <img src="../image/B.jpeg" alt="">
            <div class="slide-item-content">
                <div class="item-content-wrapper">
                    <div class="home-text">
                        <span>Marvel Universe</span>
                        <h1>Black Panther</h1>
                    </div>
                    <div class="movies_info">
                        <div class="movie_info">
                            <i class="fa fa-clock"></i>
                            <span>120min</span>
                        </div>
                        <div class="movie_info">
                            <span>HD</span>
                        </div>
                        <div class="movie_info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="movies_des">
                        T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.
                    </div>
                    <div class="movie_action">

                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-slide container_1">
            <img src="../image/AI.jpg" alt="">
            <div class="slide-item-content">
                <div class="item-content-wrapper">
                    <div class="home-text">
                        <span>Marvel Universe</span>
                        <h1>Avengers:Infinity War</h1>
                    </div>
                    <div class="movies_info">
                        <div class="movie_info">
                            <i class="fa fa-clock"></i>
                            <span>120min</span>
                        </div>
                        <div class="movie_info">
                            <span>HD</span>
                        </div>
                        <div class="movie_info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="movies_des">
                        The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
                    </div>
                    <div class="movie_action">

                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-slide container_1">
            <img src="../image/A.jpg" alt="">
            <div class="slide-item-content">
                <div class="item-content-wrapper">
                    <div class="home-text">
                        <span>Marvel Universe</span>
                        <h1> Avengers:Endgame</h1>
                    </div>
                    <div class="movies_info">
                        <div class="movie_info">
                            <i class="fa fa-clock"></i>
                            <span>120min</span>
                        </div>
                        <div class="movie_info">
                            <span>HD</span>
                        </div>
                        <div class="movie_info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="movies_des">
                        After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.
                    </div>
                    <div class="movie_action">

                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-slide container_1">
            <img src="../image/W.jpeg" alt="">
            <div class="slide-item-content">
                <div class="item-content-wrapper">
                    <div class="home-text">
                        <span>Marvel Universe</span>
                        <h1>Wanda</h1>
                    </div>
                    <div class="movies_info">
                        <div class="movie_info">
                            <i class="fa fa-clock"></i>
                            <span>120min</span>
                        </div>
                        <div class="movie_info">
                            <span>HD</span>
                        </div>
                        <div class="movie_info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="movies_des">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque reiciendis at aperiam vel?
                        Inventore porro fugiat nemo repellendus illum culpa nesciunt. Nihil soluta sit fugiat magnam
                        veniam asperiores dignissimos eius.
                    </div>
                    <div class="movie_action">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>