
<!-- <div class="api_footer"> -->
<!--         <p>Made &nbsp; By &nbsp; Group C-12</p> -->
<!--         <p>Rishav Thapliyal &nbsp;  &nbsp; C-03</p> -->
<!--         <p>Aditya Ugale&nbsp;  &nbsp; C-06</p> -->
<!--         <p>Prathmesh Gaikwad &nbsp; &nbsp; C-36</p> -->
<!--     </div> -->
