<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <a class="modal-button">Write Review</a>
    <div class="modal">
        <div class="modal-content">
            <span class="closeButton">&times;</span>
            <header class="modal-title">
                <%if(data.title){%>
                <%=data.title%>
                <%}%>
                <%if(!data.title){%>
                <%=data.original_name%>
                <%}%>
            </header>
        <form action="/<%=data.id%>/post" method="post"  id="review">
            <div class="movies_modal">
                <div class="rating_name">
                    <div class="acting">
                        <p class="a">Acting</p>
                        <div class="ratings">
                            <div class="rating_one">
                                <p>1</p>
                                <input type="radio" name="acting" value="1">
                            </div>
                            <div class="rating_two">
                                <p>2</p>
                                <input type="radio" name="acting" value="2">
                            </div>
                            <div class="raitng_three">
                                <p>3</p>
                                <input type="radio" name="acting" value="3">
                            </div>
                            <div class="rating_four">
                                <p>4</p>
                                <input type="radio" name="acting" value="4">
                            </div>
                            <div class="raitng_five">
                                <p>5</p>
                                <input type="radio" name="acting" value="5">
                            </div>
                        </div>
                    </div>
                        <div class="music">
                            <p>Music</p>
                            <div class="ratings">
                                <div class="rating_one">
                                    <input type="radio" name="music" value="1">
                                </div>
                                <div class="rating_two">
                                    <input type="radio" name="music" value="2">
                                </div>
                                <div class="raitng_three">
                                    <input type="radio" name="music" value="3">
                                </div>
                                <div class="rating_four">
                                    <input type="radio" name="music" value="4">
                                </div>
                                <div class="raitng_five">
                                    <input type="radio" name="music" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="cine">
                            <p>Cinematography</p>
                            <div class="ratings">
                                <div class="rating_one">
                                    <input type="radio" name="cinematography" value="1">
                                </div>
                                <div class="rating_two">
                                    <input type="radio" name="cinematography" value="2">
                                </div>
                                <div class="raitng_three">
                                    <input type="radio" name="cinematography" value="3">
                                </div>
                                <div class="rating_four">
                                    <input type="radio" name="cinematography" value="4">
                                </div>
                                <div class="raitng_five">
                                    <input type="radio" name="cinematography" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="storyline">
                            <p>Storyline</p>
                            <div class="ratings">
                                <div class="rating_one">
                                    <input type="radio" name="storyline" value="1">
                                </div>
                                <div class="rating_two">
                                    <input type="radio" name="storyline" value="2">
                                </div>
                                <div class="raitng_three">
                                    <input type="radio" name="storyline" value="3">
                                </div>
                                <div class="rating_four">
                                    <input type="radio" name="storyline" value="4">
                                </div>
                                <div class="raitng_five">
                                    <input type="radio" name="storyline" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="film">
                            <p>Filmography</p>
                            <div class="ratings">
                                <div class="rating_one">
                                    <input type="radio" name="film" value="1">
                                </div>
                                <div class="rating_two">
                                    <input type="radio" name="film" value="2">
                                </div>
                                <div class="raitng_three">
                                    <input type="radio" name="film" value="3">
                                </div>
                                <div class="rating_four">
                                    <input type="radio" name="film" value="4">
                                </div>
                                <div class="raitng_five">
                                    <input type="radio" name="film" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="comments">
                            <p>Comments</p>
                            <textarea name="confirmation" id="" cols="70" rows="5" form="review"></textarea>
                        </div>
                </div>
            </div>
            <div class="footer">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
        </div>
    </div>
    <script src="/css/js/modal.js"></script>
</body>

</html>