<h1>Here i will create new movies:</h1>

<form action="/create" method="post">
Enter the title:<input type="text" name="title"><br>
Genre:<input type="text" name="genre"><br>
Description:<input type="text" name="desc"><br>
movie_img<input type="text" name="movie"><br>
Director<input type="text" name="director"><br>
release year<input type="number" name="year"><br>
<button type="submit">Submit here</button>
</form>