* {
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10001;
  background: rgba(0, 0, 0, 0.8);
}

.navbar.shadow {
  background: rgb(0, 0, 0, 0.8);
}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}
.menu-list-item a {
  position: relative;
}
<<<<<<< HEAD
.menu-list-item a::after {
  content: " ";
  width: 0;
  height: 2px;
  background: red;
=======
.menu-list-item a::after{
  content:" ";
  width:0;
  height:2px;
  background:red;
>>>>>>> 1d959a614364fadac3de536bdf7e9a510fbe1546
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.menu-list-item a:hover::after {
  width: 100%;
}

.logo-container {
  flex: 1;
  position: relative;
}

.logo {
  font-size: 30px;
  font-family: monospace;
  color: #4dbf00;
}

/* .logo::before,
.logo::after{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.logo::before{
  background:black;
  animation:typewriter 3s forwards;
}
@keyframes typewriter {
  to{left:100%}
} */
.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}
.menu-list li a {
  color: white;
}
/* .menu-list li :hover{
  opacity:0.2;
} */

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.profile-text-container {
  margin: 0 20px;
}

.series {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding-bottom: 10rem;
}

.series_heading {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 2px red solid;
}
.movies {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: solid 2px red;
}

.item {
  height: 50%;
  /* box-shadow:7px 5px 1px white; */
}

.movie-item {
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
}

.movie-item img {
  width: 270px;
  height: 100%;
  object-fit: cover;
  transition: 0.5s transform ease-in-out;
}

.movie-item:hover .image {
  transform: scale(1.3);
  opacity: 0.5;
}

.api_footer {
  position: fixed;
  margin-top: 1rem;
  z-index: 1000;
  top: 637px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  /* transition: transform 0.4s linear; */
}
/* .api_footer:hover{
  transform: translateY(-64px);
} */
/* 
.owl-prev {
  position:absolute;
  top:40%;
  width:20px;
  height:20px;
  background: rgba(0, 0, 0, 0.3) !important;
  right:100%;
  font-size:3.5rem !important;
} */

.owl-prev,
.owl-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
  font-size: 3.5em !important;
}
.owl-prev {
  left: -50px;
}
.owl-next {
  right: -50px;
}
.owl-prev:hover,.owl-next:hover {
  background: rgba(0, 0, 0, 0) !important;
}
.movie-content {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.movie-content .title a {
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.profile-content {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.profile-content.active {
  opacity: 1;
}
.profile-content li {
  padding: 0.5rem;
  list-style-type: none;
}
.profile-content li a {
  text-decoration: none;
  color: white;
}
.profile-content li :hover {
  opacity: 0.2;
}
.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  background: #151515;
  justify-content: center;
  align-items: center;
}
.fa-user {
  font-size: 25px;
}
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.swiper {
  margin-bottom: 1.5rem;
  height: 75%;
}

.container_1 {
  width: 100%;
  min-height: 640px;
  position: relative;
  background: rgb(2, 3, 7, 0.4);
}

.slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.movies_des {
  width: 100%;
}
.home-text {
  position: relative;
}
.home-text span {
  font-family: monospace;
  font-size: 1rem;
  background-color: black;
}
.home-text span::before {
  content: " ";
  width: 2%;
  height: 2px;
  background: red;
  position: absolute;
  top: 10px;
  left: -14px;
}
.home-text span::after {
  content: " ";
  width: 2%;
  height: 2px;
  background: red;
  position: absolute;
  top: 10px;
  left: 8.3rem;
}
.item-content-wrapper {
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movies_info {
  display: flex;
  flex-wrap: wrap;
}
.movie_info {
  padding: 0.5rem;
}
.container_1 img {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* .movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
} */

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}
